body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#paper {
  background-size: 15px 15px;
  background-image: linear-gradient(to right, #eeeeee 1px, transparent 1px), linear-gradient(to bottom, #cccccc 1px, transparent 1px);
}

.logo {
  background-image: url("./images/krust.svg");
  width: 47px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
}

.nav-left {
  display:flex;
  flex-wrap:wrap;
  float:left;
}
.nav-right {
  display: flex;
  flex-wrap: wrap;
  float:right;
}

.site-layout .site-layout-background {
  background: #fff;
}


.ant-carousel .slick-slide {
  text-align: center;
  line-height: 250px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.steps {
  height: 250px;
  overflow: hidden;
}

#localVideo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15%;
  height: 15%;
  z-index: 3;
  border: 1px groove white;
  background-color: rgba(255, 255, 255, 0.062);
}

.peerVideoContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45%;
  height: 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 34, 34);
}

.myVideoContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45%;
  height: 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 34, 34);
}

.videoItem {
  z-index: 3;
  height:100%;
  border: 1px groove rgba(153, 153, 153);
  text-align: center;
  font-weight: bold;
  color:rgba(153, 153, 153);
  background-color: rgba(34, 34, 34,0);
}

.activeItem {
  height: 100%;
  width:100%;
}

.activeBoard {
  background-color: rgba(100,100,100,0.5);
}

.boardTitle {
  color:white;
  font-weight: bold;
  text-align: center;
  height:1%
}

.container {
  display: flex;
  flex-direction: column;                                                                       
}

.slot {
  display:flex;
  flex-direction:row;
  padding-bottom: 3px;
}

.slot-hour {
  display:flex;
  flex-direction:column;
  width:20%;
  background-color: rgb(42,75,124);
  border: 1px ridge rgb(42,75,124);
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 5px;
  color:white;
}


.slot-detail {
  width:80%;
  display: flex;
  padding: 5px;
  flex-direction: column;
  border: 1px ridge lightgray;
}


.slot-item {
  border-left: 3px solid blue;
  margin-top:10px;
  padding-left: 10px;
  display:flex;
  flex-direction: column;
}

.slot-title {
  font-weight: bold; 
}

.cancelled {
  border-left: 3px solid black;
}

.overdue {
  border-left: 4px solid red;
}

.current {
  border-left: 3px solid orange;
}

.done {
  border-left: 3px solid green;
}
