body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#paper {
  background-size: 15px 15px;
  background-image: linear-gradient(to right, #eeeeee 1px, transparent 1px), linear-gradient(to bottom, #cccccc 1px, transparent 1px);
}

.logo {
  background-image: url("./images/krust.svg");
  width: 47px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
}

.nav-left {
  display:flex;
  flex-wrap:wrap;
  float:left;
}
.nav-right {
  display: flex;
  flex-wrap: wrap;
  float:right;
}

.site-layout .site-layout-background {
  background: #ffffff;
}

.ant-carousel .slick-dots li {
  background: gray;
}

.ql-toolbar {
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.ql-container.ql-snow.ql-disabled {
  border:none;
}

.steps {
  height: 250px;
  overflow: hidden;
}

#localVideo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15%;
  height: 15%;
  z-index: 3;
  border: 1px groove white;
  background-color: rgba(255, 255, 255, 0.062);
}

.peerVideoContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 34, 34);
}

.myVideoContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 34, 34);
}

.videoItem {
  z-index: 3;
  height:100%;
  border: 1px groove rgba(153, 153, 153);
  text-align: center;
  font-weight: bold;
  color:rgba(153, 153, 153);
  background-color: rgba(34, 34, 34,0);
}

.activeItem {
  height: 100%;
  width:100%;
}

.activeBoard {
  background-color: #646464;
}

.miniBoardFrame {
  text-align: center;
  height:240px;
}

.miniBoard {
  background-color: #646464;
  height:100%;
}

.activeBoardBG {
  background-color: rgba(100,100,100,0.5);
  z-index: 1;  
}


.boardTitle {
  color:white;
  font-weight: bold;
  text-align: center;
  height:1%
}

.slot-container {
  display: flex;
  flex-direction: column;                                                            
}

.slot {
  display:flex;
  flex-direction:row;
  padding-bottom: 3px;
  margin-bottom:5px;
}

.slot-hour {
  display:flex;
  flex-direction:column;
  width:20%;
  background-color: #4060a1;
  border: 1px ridge #4060a1;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 5px;
  color:white;
}

.current {
  background-color: #0b7261;
  color:white;
}

.slot-detail {
  width:80%;
  display: flex;
  padding: 5px;
  flex-direction: column;
  background: #F5F5F5;
  border: 1px solid lightgray;
}


.slot-item {
  border-left: 3px solid blue;
  margin-top:10px;
  padding-left: 10px;
  display:flex;
  flex-direction: column;
}

.slot-title {
  font-weight: bold; 
}

.planned {
  border-left: 3px solid blue;
}

.cancelled {
  border-left: 3px solid black;
}

.overdue {
  border-left: 4px solid red;
}

.progress {
  border-left: 3px solid orange;
}

.done {
  border-left: 3px solid green;
}

.loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.schedule {
  display:flex;
  flex-direction: column;
}

.ql-container.ql-snow {
  border: none;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 5px;
}

.notes {
  border:1px solid #ececec
}

.ant-tabs-nav-more {
  background: white !important;
  color:rgb(85,164,213);
  font-weight: bold;
}