body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#paper {
  background-size: 15px 15px;
  background-image: linear-gradient(to right, #eeeeee 1px, transparent 1px), linear-gradient(to bottom, #cccccc 1px, transparent 1px);
}

.logo {
  background-image: url("./images/krust.svg");
  width: 47px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
}

.nav-left {
  display:flex;
  flex-wrap:wrap;
  float:left;
}
.nav-right {
  display: flex;
  flex-wrap: wrap;
  float:right;
}

.site-layout .site-layout-background {
  background: rgb(216,213,221);
}


.ant-page-header .ant-page-header-heading {
  margin-bottom: -15px;
}

.ant-menu.ant-menu-light {
  color: black;
  font-weight:normal;
}

.ant-menu.ant-menu-light .ant-menu-item-selected.customclass {
  color: rgb(69,49,28); 
  font-weight: bold;
  border-bottom: 2px solid rgb(69,49,28);
}

.ant-carousel .slick-dots li {
  background: gray;
}

.ant-steps-item-process .ant-steps-item-tail::after {
  background: rgb(216,213,221) !important;
}

.ql-toolbar {
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.ql-container.ql-snow.ql-disabled {
  border:none;
}

.steps {
  height: 250px;
  overflow: hidden;
}

.artifactsContainer {
  position: absolute;
  bottom: 0;
  right: 25%;
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.peerVideoContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left:5px;
}

.myVideoContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right:5px;
}

.videoItem {
  z-index: 3;
  height:100%;
  border: 1px groove white;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  color:white;
  background-color: #646464;
  cursor:pointer;
}

.non-videoItem {
  z-index: 3;
  height:100%;
  border: 1px groove white;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  color:rgb(44, 147, 209);
  background-color: #000000;
  cursor:pointer;
}

.activeItem {
  height: 100%;
  width:100%;
}

.miniBoard {
  background-color: #646464;
  height:100%;
}

.boardTitle {
  color:white;
  font-weight: bold;
  text-align: center;
  height:1%
}

.slot-container {
  display: flex;
  flex-direction: column;
}

.slot {
  display:flex;
  flex-direction:row;
  padding-bottom: 3px;
  margin-bottom:4px;
}

.slot-hour {
  display:flex;
  flex-direction:column;
  width:20%;
  background-color: rgb(242,242,242);
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 5px;
  color:black;
  border-radius:12px 0 0 12px;
}

.current {
  color: black;
  background:rgb(250,231,143);
  font-weight: bold;
}

.slot-detail {
  width:80%;
  display: flex;
  padding: 5px;
  flex-direction: column;
  background: white;
  border-radius:0 12px 12px 0;
}


.slot-item {
  border-left: 3px solid blue;
  margin-top:10px;
  padding-left: 10px;
  display:flex;
  flex-direction: column;
  cursor: pointer;
}

.slot-title {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-between;
}

.planned {
  border-left: 3px solid blue;
}

.task {
  border: none;
}

.cancelled {
  border-left: 3px solid black;
}

.overdue {
  border-left: 4px solid red;
}

.progress {
  border-left: 3px solid orange;
}

.done {
  border-left: 3px solid green;
}

.loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.schedule {
  display:flex;
  flex-direction: column;
}

.ql-container.ql-snow {
  border: none;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 5px;
}

.notes {
  border:1px outset gray;
  border-radius:12px;
  max-width:95%;
}

.notes-matrix-container {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.notes-matrix-item {
  border:1px solid rgb(216,213,221);
  min-width:48%;
  max-width:48%;
  margin-bottom:2%;
  margin-right:2%;
}

.board-matrix-item {
  border:1px solid rgb(216,213,221);
  min-width:100%;
  max-width:100%;
  margin-bottom:2%;
  margin-right:2%;
}

.notes-session {
  text-align:left;
  padding:5px;
  font-size: 10px;
  color:rgb(69,49,28)
}

.journal-boards {
  display:flex;
  flex-direction: row;
  height: 24px;
  font-size: 12px;
  font-weight: bold;
  color:white;
  background: rgb(59,109,171);
}

.journal-board-title {
  padding-left: 5px;
  text-align: left;
  width:50%;
}

.journal-coach-board {
  text-align: right;
  padding-right: 5px;
  color:white;
  width:50%;
}

.journal-member-board {
  text-align: right;
  padding-right: 5px;
  color:rgb(250,231,143);
  width:50%;
}

.coach-note {
  text-align:right;
  padding:5px;
  font-size: 10px;
  color:rgb(69,49,28)
}

.member-note {
  text-align:right;
  padding:5px;
  font-size: 10px;
  color:blue;
}

.ant-tabs-nav-more {
  background: white !important;
  color:rgb(85,164,213);
  font-weight: bold;
}


.trailer-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.trailer {
  position: absolute;
  top: 0;
  left: 0;
}

.trailer * {
  outline: none;
}

.slot-member {
  display:flex;
  flex-direction:column;
  width:40%;
  background-color: rgb(242,242,242);
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 5px;
  color:black;
  border-radius:12px 0 0 12px;
}

.slot-member-detail {
  width:60%;
  display: flex;
  padding: 5px;
  flex-direction: column;
  background: white;
  border-radius:0 12px 12px 0;
}

.slot-member-item {
  border-left: 3px solid;
  border-color: rgb(216,213,221);
  margin-top:10px;
  padding-left: 10px;
  display:flex;
  flex-direction: column;
  cursor: pointer;
}


.discussion-container {
  height:100%;
  width:100%;
  flex-direction: column;
}

.discussion-list {
  width: 100%;
  height: 80%;
  max-height:80%;
  overflow-y: auto;
  display:flex;
  flex-direction: column;
}

.discussion-form {
  width: 100%;
  margin-left:10%;
  margin-top: 10px;
  height: 20%;
}


.chat-item {
  display:flex;
  flex-direction: row;
}

.my-chat {
  background-color: rgb(59,109,171);
  color:white;
  border-radius: 12px;
  margin:5px;
  width:100%;
}

.other-chat {
  background-color: white;
  color:black;
  border-radius: 12px;
  margin:5px;
  width:100%;
}

.chat-content {
  padding-left:8px;
  padding-top:0px;
}

.chat-stamp {
  display:flex;
  flex-direction: row;
}

.chat-date {
  font-size: smaller;
  padding-top:4px;
  padding-left:8px;
  width:50%;
  color:lightcyan;
}

.chat-who {
  font-size: smaller;
  padding-top:4px;
  padding-right:4px;
  text-align: right;
  width:50%;
  color:lightcyan;
}

.journal-container .ant-tabs-tab-active {
  background: white;
}

.task-stat { 
  display:flex;
  flex-direction: row;
  width: "100%";
  background:rgb(250,231,143);
  padding: 10px;
  margin-bottom: 10px;
}

.plan-stat-style { 
  display:flex;
  flex-direction: row;
  width: "100%";
  background:lightgray;
  padding: 10px;
  border-radius: 12px; 
}

.digest {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  justify-content:space-between;
}


.broadcast-workbench {
  display:flex;
  flex-direction:row;
  margin-bottom:4px;
}

.broadcast-west {
  width:15%;
  display:flex;
  flex-direction:column;
  background-color: #646464;
  align-items: center;
  text-align: center;
  justify-content: left;
  overflow-y: auto;
  border: 1px solid white;
}

.broadcast-center {
  width:85%;
  display: flex;
  flex-direction: column;
  background: black;
  border: 1px solid white;
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow-y: auto;
}
